html {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(at 30% -5%, #d5e0ff, #d6cff1, rgba(255, 255, 255, 0) 25%), radial-gradient(at 50% 70%, #d5e0ff, rgba(255, 255, 255, 0) 30%), radial-gradient(at 70% 0%, #d6cff1, rgba(255, 255, 255, 0) 20%), linear-gradient(75deg, #d5e0ff 5%, rgba(255, 255, 255, 0), #d5e0ff, rgba(255, 255, 255, 0), #eed5f2, rgba(255, 255, 255, 0), #d6cff1, rgba(255, 255, 255, 0), #d5e0ff 90%), radial-gradient(at 30% 50%, #d5e0ff, rgba(255, 255, 255, 0) 30%), radial-gradient(at 30% 50%, #9cb9fc, rgba(255, 255, 255, 0) 30%), radial-gradient(at 100% 50%, #d5e0ff, #c2dcf2, rgba(255, 255, 255, 0) 50%), linear-gradient(115deg, #d5e0ff 5%, #d5e0ff 10%, #d6cff1, #eed5f2 20%, #d5e0ff, #d5e0ff 30%, #d6cff1, #c2dcf2 40%, #d5e0ff, #d5e0ff 70%);
}

.cinzel-name {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.cinzel-name > #first {
    color: #004aad;
}

.me {
    height: 100%;
    font-size: 40px;
}

.me-group {
    position: relative;
    top: 30%;
    left: 30%;
    zoom: 1.1;
}

#iam {
    font-family: "Bellota", system-ui;
    font-weight: 300;
    font-style: normal;
    color: #545454;
    font-size: 24px;
}

#my-role {
    font-family: "Bellota", system-ui;
    font-weight: 300;
    font-style: normal;
    color: #545454;
    text-transform: uppercase;
    font-size: 24px;
}